#Alula{
  font-family: 'Helvetica-Bold';
    .logo-estilo{
        margin-top: 5%;
        text-align: center;
    img{
      width: 100%;
      max-width: 250px;
      margin-bottom: 5%;
    }
  }

  .estilo-productos{
    text-align: center;
    text-transform: uppercase;
    h2{
      color: #003c4d;
      font-size: 30px;
      font-weight: bold;
    }
  }

}

#Alula-index{
  font-family: 'Helvetica-Bold';
  background-color: #c7b784;
  #section-index-alula{
    .logo-estilo-position{
      position: absolute;
      top: 3%;
      left: 0;
      img{
        width: 100%;
        max-width: 100px;
      }
    }
    .fondo-estilo-position{
      z-index: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      img{
        width: 100%;
        max-width: 700px;
      }
    }

    .col-md-12{
      padding-right: 0;
    }
  }
}
#Alula-pantalla-tres{
  font-family: 'Helvetica-Light';

  #section-alula-tres{
   
    position: relative;
  }
  width: 100%;
  color:#003c4d;
 .nube-position{
  z-index: 10;
  position: absolute;
  top: 35%;
  left: 30%;

  img{
    widows: 100%;
    max-width: 350px;
  }
 }

  .test{
      z-index: 0;
      position: absolute;
      bottom: 0;
      right: 0;
  }
  .estilo-texto{
    text-align: center;
  }

    .col-md-8{
      padding-right: 0;
    }
  }


#maternidades-pantalla-uno{
  font-family: 'Helvetica-Light';
  color: #003c4d;
  p{
    line-height: 25px;
        font-size: 25px;
        b{
          font-family: 'Helvetica-Bold';
        }
      }
  #section-maternidades-uno{
    .text-sup{
      margin-top: 20%;
      margin-left: 10%;
      p{
        font-size: 25px;
        b{
          font-family: 'Helvetica-Bold';
        }
      }
    }
    .texto-infe{
      margin-left: 20%;
      margin-top: 10%;
      line-height: 20px;
      img{
        width: 100%;
        max-width: 20px;
      }
      p{
        font-size: 18px;
        line-height: 25px;
        b{
          font-family: 'Helvetica-Bold';
        }
      }
       b{
          font-family: 'Helvetica-Bold';
        }
    }
    .posicion-fecla{
      img{
        position: absolute;
        top: 30%;
      }
    }
    .posicion-nube{
      img{
        position: absolute;
        bottom: 5%;
        width: 100%;
        max-width: 410px;
      }
    }
    .raya-izquierda{
      border-right-style: dotted; 
      border-right-width: 4px;
      border-right-color: #54565b;
    }
  }
}

#alula-pantalla-cinco{
 
  color: #003c4d;
  #section-alula-cinco{
    .texto-estilo{
      margin-top: 20%;
      margin-left: 10%;
      margin-bottom: 10%;
      font-size: 20px;
    p{
      font-family: 'Helvetica-Light';
      font-size: 25px;
    b{
      font-family: 'Helvetica-Bold';
      }
    }
  }
     .bote-dorado{
       margin-left: 10%;
       img{
         width: 100%;
         max-width: 800px;
       }
     }
     .nube-dorado{
       position: absolute;
       top: 30%;
       right: 0;
       img{
         width: 100%;
         max-width: 300px;
       }
     }

    }
  }



#alula-pantalla-cuatro{
  color: #003c4d;
  #section-alula-cuatro{
    .text-sup{
      margin-top: 20%;
      margin-left: 10%;
      font-size: 25px;
      p{
      font-family: 'Helvetica-Light';
      font-size: 25px;
        b{
          font-family: 'Helvetica-Bold';
        }
      }
    }
    .texto-infe{
      margin-left: 20%;
      margin-top: 10%;
    }
    .posicion-fecla{
      img{
        position: absolute;
        top: 30%;
      }
    }
    .posicion-nube{
      img{
        position: absolute;
        bottom: 5%;
        width: 100%;
        max-width: 410px;
      }
    }
   
    .raya-izquierda{
      border-right-style: dotted; 
      border-right-width: 4px;
      border-right-color: #54565b;
    }
  }
}

#alula-pantalla-cinco{
  .nube-uno{
    position: absolute;
    bottom: -130px;
    img{
      width: 100%;
      max-width: 300px;
    }
  }
  .nube-dos{
    position: absolute;
    bottom: -130px;
    img{
      width: 100%;
      max-width: 300px;
    }
  }
  .nube-tres{
    position: absolute;
    top: -200px;
    img{
      width: 100%;
      max-width: 300px;
    }
  }
  color: #003c4d;
  #section-alula-cinco{
    .text-sup{
      margin-top: 10%;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 10%;
      p{
      font-family: 'Helvetica-Light';
      font-size: 40px;
        b{
          font-family: 'Helvetica-Bold';
        }
      }
    }
    .texto-infe{
      margin-left: 20%;
      margin-top: 10%;
    }
    .posicion-fecla{
      img{
        position: absolute;
        top: 30%;
      }
    }
    .posicion-nube{
      img{
        position: absolute;
        bottom: 5%;
        width: 100%;
        max-width: 410px;
      }
    }
    .raya-izquierda{
      border-right-style: dotted; 
      border-right-width: 4px;
      border-right-color: #54565b;
    }
  }
}


#Maternidades-index{
  background-color: #c7b784;
  #section-index-alula{
    .logo-estilo-position{
      position: absolute;
      top: 3%;
      left: 0;
      img{
        width: 100%;
        max-width: 100px;
      }
    }
    .fondo-estilo-position{
      z-index: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      img{
        width: 100%;
        max-width: 700px;
      }
    }
    .col-md-12{
      padding-right: 0;
    }
  }
}

#maternidades-pantalla-uno{
  color: #003c4d;
  #section-maternidades-uno{
    .text-sup{
      margin-top: 20%;
      margin-left: 10%;
      font-size: 22px;
    }
    .texto-infe{
      margin-left: 20%;
      margin-top: 10%;
      p{
        line-height: 18px;
      }
    }
    .posicion-fecla{
      img{
        position: absolute;
        top: 30%;
      }
    }
    .posicion-nube{
      img{
        position: absolute;
        bottom: 5%;
        width: 100%;
        max-width: 410px;
      }
    }
  }
}

#maternidades-pantalla-dos{
  color: #003c4d;
  .imags{
    z-index: 10;
    .nube-dorada{
      position: absolute;
      top: 150px;
      right: -60px;
      z-index: 10;
      width: 100%;
      max-width: 150px;
    } 
    .nube-azul{
        position: absolute;
        top:180px;
        left:20px;
      img{
        width: 100%;
        max-width: 150px;
      }
    } 
  }
  .images{
    img{
    z-index: 0;
    }
  }

  #section-maternidades-dos{
    .text-sup{
      margin-top: 50%;
      margin-left: 20%;
      font-size: 22px;
    }
    .texto-infe{
      margin-left: 20%;
      margin-top: 10%;
    }
    .texto-inferior{
      font-size: 30px;
      p{
     
      font-family: 'Helvetica-Light';
        b{
          font-family: 'Helvetica-Bold';
        }  
      }
    }
    .posicion-fecla{
      img{
        position: absolute;
        top: 30%;
      }
    }
    .posicion-nube{
      img{
        position: absolute;
        bottom: 5%;
        width: 100%;
        max-width: 410px;
      }
    }
  }
}


#maternidades-pantalla-tres{
  color: #003c4d;
  #section-maternidades-tres{
    .texto-centrado{
      text-align: center;
      p{
      font-size: 25px;
      font-family: 'Helvetica-Light';
        b{
          font-family: 'Helvetica-Bold';
        }  
      }
      }
    }
    .bote-tamano{
      padding-top: 1%;
      padding-left: 10%;
      padding-right: 10%;
    }
    .bebe-tamano{
      padding-top: 1%;
      padding-left: 10%;
      padding-right: 10%;
      border-right-style: dashed; 
      border-right-width: 4px;
      border-right-color: #c7b784;
    }
    .nube-tamano{
      position: absolute;
      top: 0;
      right: 20px;
      img{
        width: 100%;
        max-width: 170px;
      }
    }
    .texto-estilo{
      margin-top: 20%;
      margin-left: 10%;
      font-size: 35px;
      p{
      font-family: 'Helvetica-Light';
        b{
          font-family: 'Helvetica-Bold';
        }  
      }
    }
     .raya-izquierda{
      border-right-style: dotted; 
      border-right-width: 4px;
      border-right-color: #54565b;
    }
}

#maternidades-pantalla-cuatro{
  color: #003c4d;
  #section-maternidades-cuatro{
    .textos{
      
      font-family: 'Helvetica-Light';
       b{
        font-family: 'Helvetica-Bold';
       
      }
    }
     .texto-estilo{
      margin-top: 20%;
      margin-left: 10%;
      font-size: 30px;
      p{
      font-family: 'Helvetica-Light';
       b{
font-family: 'Helvetica-Bold';
       }
      }
       ul{
          li{
font-family: 'Helvetica-Light';
          }
          
        }  
    }
    .nube-morada{
      position: absolute;
      top: -40px;
      left: -120px;
      img{
        width: 100%;
        max-width: 300px;
      }
    }
  }
}

#maternidades-pantalla-cinco{
  color: #003c4d;
  #section-maternidades-cinco{
    .textos{
      font-size: 35px;
      font-family: 'Helvetica-Light';
      b{
        font-family: 'Helvetica-Bold';
      }
    }
    .texto-estilo{
      margin-top: 20%;
      margin-left: 10%;
      margin-bottom: 10%;
      font-size: 25px;
    }
     .bote-dorado{
       img{
         width: 100%;
         max-width: 400px;
       }
     }
     .nube-dorado{
       position: absolute;
       top: 30%;
       right: 0;
       img{
         width: 100%;
         max-width: 300px;
       }
     }

    }
  }


  #maternidades-pantalla-seis{
  color: #003c4d;
  #section-maternidades-seis{
    .texto-terminos{
      p{
        font-size: 9px;
        font-family: 'Helvetica-Light';
      }
    }
    .estilo-logo{
      margin-top: 15%;
      margin-bottom: 15%;
      img{
        width: 100%;
        max-width: 350px;
      }
    }
  }
}

#sma-comfort{
  background-color: #724c9f;
  #section-index-alula{
    .logo-estilo-position{
      position: absolute;
      top: 3%;
      left: 0;
      img{
        width: 100%;
        max-width: 100px;
      }
    }
    .fondo-estilo-position{
      z-index: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      img{
        width: 100%;
        max-width: 700px;
      }
    }
    .col-md-12{
      padding-right: 0;
    }
  }
}

#sma-comfort-page-one{
  color:#003c4d;
  position: relative;
.tamano{
  width: 400px !important;
}

.container{
  padding-right: 0;
  padding-left: 0;
}
.texto{
  color: #003c4d;
  padding-top: 50%;
  padding-left:3%; 
  padding-right:3% ;
  
  h1{
    font-size: 50px;
    font-family: 'Helvetica-Bold';
  }
  h2{
font-family: 'Helvetica-Light';
  }
  h3{
    font-size: 25px;
    font-family: 'Helvetica-Light';
  }
  h4{
    font-family: 'Helvetica-Light';
  }
  ul{
    li{
      font-size: 40px;
      font-family: 'Helvetica-Bold';
    }
  }
  p{
    color: #003c4d;
    font-size: 12px;
    line-height: 10px;
    width: 450px !important;
    font-family: 'Helvetica-Light';
        b{
          font-family: 'Helvetica-Bold';
        }  
      } 
    }
.imagen-position{
    padding-right: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}


#sma-comfort-page-two{
  color:#003c4d;
  .texto-sub{
     p{
      font-size: 12px;
      font-family: 'Helvetica-Light';
     }
  }
  .texto-bote{
    padding-top: 4%;
    line-height: 22px;
    p{
      font-size: 19px;
      font-family: 'Helvetica-Light';
        b{
          font-family: 'Helvetica-Bold';
        }  
      }
   
  }
  .cambio{
    bottom: 5%;
    position: absolute;
    h4{
      font-size: 20px;
      font-family: 'Helvetica-Bold';
    }
    p{
      font-size: 25px;
      font-family: 'Helvetica-Light';
        b{
          font-family: 'Helvetica-Bold';
        }  
      }
  }

  .texto-uno{
    p{
      font-size: 19px;
      font-family: 'Helvetica-Light';
        b{
          font-family: 'Helvetica-Bold';
        }  
      }
    }
  .margen-nubes{
    img{
      width: 100%;
      max-width: 230px;
    }
    .nube-uno{
      position: absolute;
      top: 0;
      left: 64px;
    }
    .nube-dos{
      position: absolute;
      top: -15px;
      right: 35px;
    }
    .nube-tres{
      position: absolute;
      top: 100px;
      left: 30%;
    }
  }
}
  

#especiales-index{
  background-color: #e49ba5;
  #section-index-especiales{
    .logo-estilo-position{
      position: absolute;
      top: 3%;
      left: 0;
      img{
        width: 100%;
        max-width: 150px;
      }
    }
    .fondo-estilo-position{
      z-index: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      img{
        width: 100%;
        max-width: 700px;
      }
    }

    .col-md-12{
      padding-right: 0;
    }
  }
}

#especiales-page{
  color:#003c4d;
#page-especiales-uno{
  .pie{
    font-family: 'Helvetica-Light';
  }
  h1{
    font-family: 'Helvetica-Bold';
  }
  .textos{
    margin-top:5%;
    p{
      font-family: 'Helvetica-Light';
      font-size: 25px;
      b{
        font-family: 'Helvetica-Bold';
      }
    }
  }
  padding-top: 7%;
  padding-left: 10%;
  padding-right: 10%;
  .estilo-tabla{
    table{
        font-family: 'Helvetica-Light';
      b{
        font-family: 'Helvetica-Bold';
      } 
    }
  }
  .tabla-image{
    img{
      width: 100%;
      max-width: 150px;
      }
    }
  }
}

  .texto-centrado{
    text-align: center;
  }

  .logo-position{
    position: absolute;
    top:0;
    left: 5%;
    img{
      widows: 100%;
      max-width: 150px;
    }
  }

.textos-generales-alula{
  font-family: 'Helvetica-Light';
  font-size: 25px;
  margin-top: 20%;
  margin-left: 10%;
  &.col-tres{
  width: 100%;
  max-width: 500px;
  margin-left: 28%;
  }
   &.col-cinco{
  width: 100%;
  max-width: 500px;
  margin-top: 28%;
  }
  p{
  line-height: 30px;
    b{
    font-family: 'Helvetica-Bold';
    }
    &.sub-letras{
      font-size: 10px;
      line-height: 13px;
    }
  }
  h1{
    line-height: 40px;
    font-size: 50px;
    font-family: 'Helvetica-Bold';

      b{
      font-family: 'Helvetica-Bold';
      }
    }
  ul{
    li{
        font-family: 'Helvetica-Bold';
      }
    }
  }
  
    .bote-estilo-position{  
      right: 0;
      bottom: 0;
      z-index: 0;
      margin-right: 2%;
      margin-bottom: 2%;
      position: absolute;
      h1{
        margin-bottom: 10%;
        margin-right: 2%;
        text-align: right;
        color: #011689;
        font-weight: bold;
        font-size: 70px;
        font-family: 'Helvetica-Bold';
      }
      img{
        width: 100%;
        max-width: 400px; 
      }
    }
    
    .bullets-botes{
      width: 100%;
      max-width: 20px;
    }

    .raya-superior{
      padding-top: 5%;
      border-top-style: dotted; 
      border-top-width: 4px;
      border-top-color: #54565b;
    }
  
.estilo-legales{
  text-align: justify;
}
.texto-inferior-two{
  font-family: 'Helvetica-Light';
  margin-top: 5%;
  font-size: 35px;
  line-height: 35px;
  b{
    font-family: 'Helvetica-Bold';

  }
}
#navegacion{
  font-size: 30px;
  a{
  color:#8fe2fb;
  }
  img{
    width: 100%;
    max-width: 70px;
  }
  .prev{
    top: 2%;
    left:40%;
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
  }
  .next{
    top: 2%;
    left:47%;
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
  }
  .home{
    top: 2%;
    right: 10px;
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
  }
}

